.idea
run.sh
otus-homeworks
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/backend_creds.tf
*.retry
jdauphant.nginx
ansible/roles/db`
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
venv
